- name: Pull jellyfin image
  docker_image:
    name: lscr.io/linuxserver/jellyfin
    source: pull
    timeout: 300
  tags: jellyfin

- name: Init jellyfin
  docker_container:
    name: jellyfin
    image: lscr.io/linuxserver/jellyfin
    dns_servers:
      - "{{ pihole_subnet_ip }}"
    state: started
    env:
      PUID: "{{ puid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
    ports:
      - 8096:8096
      - 7359:7359/udp
    devices:
      - /dev/vcsm-cma:/dev/vcsm-cma
      - /dev/vchiq:/dev/vchiq
    volumes:
      - "{{ data_dir }}/Applications/jellyfin/config:/config"
      - "{{ data_dir }}/Documents/TV:/tvshows"
      - "{{ data_dir }}/Documents/Movies:/movies"
      - /opt/vc/lib:/opt/vc/lib
    restart_policy: unless-stopped
    networks:
      - name: "{{ subnet_name }}"
        ipv4_address: "{{ jellyfin_subnet_ip }}"
  tags: jellyfin

- name: Enable jellyfin upstream in swag
  copy:
    src: /etc/swag/config/nginx/proxy-confs/jellyfin.subdomain.conf.sample
    dest: /etc/swag/config/nginx/proxy-confs/jellyfin.subdomain.conf
    remote_src: yes
    force: no
  notify: Restart swag
  tags: jellyfin

- name: Add cors config
  replace:
    path: /etc/swag/config/nginx/proxy-confs/jellyfin.subdomain.conf
    regexp: '^(?: *include /config/nginx/cors\.conf;\n)?( *include /config/nginx/proxy\.conf;\n)'
    replace: '        include /config/nginx/cors.conf;\n\1'
  notify: Restart swag
  tags: jellyfin

- name: Block external ips
  replace:
    path: /etc/swag/config/nginx/proxy-confs/jellyfin.subdomain.conf
    regexp: '^(?: *include /config/nginx/internal\.conf;\n)?( *include /config/nginx/cors\.conf;\n)'
    replace: '        include /config/nginx/internal.conf;\n\1'
  notify: Restart swag
  tags: jellyfin
