- name: Pull qbittorrent image
  docker_image:
    name: lscr.io/linuxserver/qbittorrent
    source: pull
    timeout: 300
  tags: torrent

- name: Init qbittorrent
  docker_container:
    name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent
    dns_servers:
      - "{{ pihole_subnet_ip }}"
    state: started
    env:
      PUID: "{{ puid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
    ports:
      - 6881:6881
      - 6881:6881/udp
    volumes:
      - /etc/qbittorrent/config:/config
      - "{{ data_dir }}/Downloads:/downloads"
    restart_policy: unless-stopped
    networks:
      - name: "{{ subnet_name }}"
        ipv4_address: "{{ qbittorrent_subnet_ip }}"
  tags: torrent

- name: Enable qbittorrent upstream in swag
  copy:
    src: /etc/swag/config/nginx/proxy-confs/qbittorrent.subdomain.conf.sample
    dest: /etc/swag/config/nginx/proxy-confs/qbittorrent.subdomain.conf
    remote_src: yes
    force: no
  notify: Restart swag
  tags: torrent

- name: Add cors config
  replace:
    path: /etc/swag/config/nginx/proxy-confs/qbittorrent.subdomain.conf
    regexp: '^(?: *include /config/nginx/cors\.conf;\n)?( *include /config/nginx/proxy\.conf;\n)'
    replace: '        include /config/nginx/cors.conf;\n\1'
  notify: Restart swag
  tags: torrent

- name: Block external ips
  replace:
    path: /etc/swag/config/nginx/proxy-confs/qbittorrent.subdomain.conf
    regexp: '^(?: *include /config/nginx/internal\.conf;\n)?( *include /config/nginx/cors\.conf;\n)'
    replace: '        include /config/nginx/internal.conf;\n\1'
  notify: Restart swag
  tags: torrent
