[http]
enabled = true
hostname = 0.0.0.0
port = 6680
zeroconf = Mopidy HTTP server on $hostname
allowed_origins = 
csrf_protection = true
default_app = iris

[audio]
output = alsasink

[iris]
country = ru
locale = ru_RU

[file]
enabled = false

[local]
media_dir = {{ data_dir }}/Documents/Music
